<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <a class="navbar-brand text-success font-weight-bold" routerLink="/" routerLinkActive="active">Socblog</a>
  <div class="collapse navbar-collapse collapse w-100" id="navbarText">
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item active">
        <a routerLink="/" class="nav-link text-secondary" routerLinkActive="active">
            Home
          </a>
      </li>
      <li class="nav-item">
        <a routerLink="/signIn" class="nav-link text-secondary" routerLinkActive="active">
          Sign in
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/signUp" class="nav-link text-secondary" routerLinkActive="active">
          Sign up
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="bg-success text-light w-100 p-3 shadow">
  <br/>
  <div class="text-center"><h2 class="font-weight-bolder">Socblog</h2></div>
  <p class="text-center">A place to share your knowledge</p>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>