<ul class="nav nav-tabs p-2">
    <li class="nav-item">
        <a class="nav-link active" href="#">Your Feed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Global Feed</a>
    </li>
</ul>
<div class="row">
  <div class="col-8">
    <div class="border-bottom p-3">
      <div class="row py-3">
        <div class="col-1">
          <i class="fa fa-smile-o" style="font-size:50px;"></i>
        </div>
        <div class="col-3">
          <p class="text-success" style="font-size:15px; margin-bottom: 0px;">Hello World</p>
          <p class="text-muted" style="font-size:15px;">October 3, 2019</p>
        </div>
        <div class="col-8">
          <div class="float-right">
            <button type="button" class="btn btn-outline-success"><i class="fa fa-heart">&nbsp;1</i></button>
          </div>
        </div>
      </div>
      <h3>This is article title1</h3>
      <p>This is job description</p>
      <a href="#" class="text-muted">Read More...</a>
    </div>
    <div class="border-bottom p-3">
      <div class="row py-3">
        <div class="col-1">
          <i class="fa fa-smile-o" style="font-size:50px;"></i>
        </div>
        <div class="col-3">
          <p class="text-success" style="font-size:15px; margin-bottom: 0px;">Hello World</p>
          <p class="text-muted" style="font-size:15px;">October 3, 2019</p>
        </div>
        <div class="col-8">
          <div class="float-right">
            <button type="button" class="btn btn-outline-success"><i class="fa fa-heart">&nbsp;1</i></button>
          </div>
        </div>
      </div>
      <h3>This is article title2</h3>
      <p>This is job description</p>
      <a href="#" class="text-muted">Read More...</a>
    </div>
    <div class="border-bottom p-3">
      <div class="row py-3">
        <div class="col-1">
          <i class="fa fa-smile-o" style="font-size:50px;"></i>
        </div>
        <div class="col-3">
          <p class="text-success" style="font-size:15px; margin-bottom: 0px;">Hello World</p>
          <p class="text-muted" style="font-size:15px;">October 3, 2019</p>
        </div>
        <div class="col-8">
          <div class="float-right">
            <button type="button" class="btn btn-outline-success"><i class="fa fa-heart">&nbsp;1</i></button>
          </div>
        </div>
      </div>
      <h3>This is article title3</h3>
      <p>This is job description</p>
      <a href="#" class="text-muted">Read More...</a>
    </div>
    <div class="border-bottom p-3">
      <div class="row py-3">
        <div class="col-1">
          <i class="fa fa-smile-o" style="font-size:50px;"></i>
        </div>
        <div class="col-3">
          <p class="text-success" style="font-size:15px; margin-bottom: 0px;">Hello World</p>
          <p class="text-muted" style="font-size:15px;">October 3, 2019</p>
        </div>
        <div class="col-8">
          <div class="float-right">
            <button type="button" class="btn btn-outline-success"><i class="fa fa-heart">&nbsp;1</i></button>
          </div>
        </div>
      </div>
      <h3>This is article title4</h3>
      <p>This is job description</p>
      <a href="#" class="text-muted">Read More...</a>
    </div>
  </div>
  <div class="col-4">
    <h3 class="p-3">Popular Tags</h3>
    <div class="block">
      <p class="bg-secondary px-2 mx-1 tag text-light">butt</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">dragons</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">test</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">training</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">tags</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">as</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">coffe</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">animation</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">cars</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">baby</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">flowers</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">baby</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">money</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">caramel</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">japan</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">happiness</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">clean</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">sugar</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">sushi</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">well</p>
      <p class="bg-secondary px-2 mx-1 tag text-light">cookies</p>
    </div>
  </div>
</div>